/* card-component.css */
.card {
    /*border: none;*/
    border-radius: 10px;
    /*background-color: #F3F4F6;*/
}

.c-details span {
    font-weight: 300;
    font-size: 13px;
}

.card-important {
    border: 2px solid #2C39DD;
    box-shadow: 6px 6px 8px rgba(44, 57, 221, 0.3);
    /* Cambia el color verde según tus preferencias */
    padding: 10px;
}


.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px;
}

.badge span {
    background-color: #fffbec;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #fed85d;
    justify-content: center;
    align-items: center;
    transition: transform 0.4s;
}

.badge span:hover {
    transform: scale(1.2);
    /* Al hacer hover, aumenta el tamaño a 1.2 veces el tamaño original */
}

.badge-percentage-up span {
    background-color: #f7f7f7;
    width: fit-content;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #96B515;
    align-items: center;
}

.badge-percentage-down span {
    background-color: #f7f7f7;
    width: fit-content;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #960404;
    align-items: center;
}

.bg-green {
    color: #96B515;
    background-color: #96B515;
}

.bg-red {
    color: #960404;
    background-color: #960404;


}

.progress {
    height: 10px;
    border-radius: 10px;
}

/*.progress div {
    background-color: #960404;
}*/

.text1 {
    font-size: 14px;
    font-weight: 600;
}

.text2 {
    color: #a5aec0;
}

.fuente-montserrat {
    font-family: "Montserrat", sans-serif;
}

/*Tarjeta flotante*/

.floating-card {
    position: fixed;
    bottom: 20px;
    /* Ajusta la posición vertical como desees */
    left: 20px;
    /* Ajusta la posición horizontal como desees */
    width: 300px;
    /* Ajusta el ancho como desees */
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    z-index: 999;
    /* Asegura que esté por encima de otros elementos */
}

.floating-card-bank {
    position: fixed;
    bottom: 20px;
    /* Ajusta la posición vertical como desees */
    right: 20px;
    /* Ajusta la posición horizontal como desees */
    width: 300px;
    /* Ajusta el ancho como desees */
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    z-index: 999;
    /* Asegura que esté por encima de otros elementos */
}

.card-content {
    /* Estilos para el contenido de la tarjeta */
}